<% include partials/header.ejs %>

  <!-- <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p> -->
  <div>
    <div style="text-align: center;
    padding: 1rem 20rem;
    margin-top: 53px">
      <h1 class="heading">
        Welcome to <%= title %>
      </h1>
      <p class="home_para"> Visit our online bookstore for books on Zen gardens, cottage gardens and small gardens. Our
        blog contains many useful gardening design tips........ </p>


    </div>
  </div>

  <% include partials/footer.ejs %>